@import '../../assets/scss/vars';

.menu {
  padding: 6rem 0 1rem;
  margin-top: $nav-height;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu__item {
  position: relative;
  width: 60px;

  &-link {
    display: inline-block;

    width: 60px;

    font-size: 1.4rem;
    font-weight: 400;

    color: #6e9234;
    text-decoration: none;
    text-align: center;

    transition: color .2s linear, font-weight .2s linear;

    &:hover {
      color: #42ff29;
      font-weight: 500;
    }

    &:before {
      content: '';

      margin: 0 auto;
      display: inline-block;

      position: absolute;
      bottom: 2.5rem;
      left: 0;
      right: 0;

      width: 30px;
      height: 30px;

      background-repeat: no-repeat;
      background-size: 30px;
      background-position: center;
    }
  }

  &-mobile {
    &:before {
      background-image: url('../../assets/mobile.svg');
    }
  }

  &-laptop {
    &:before {
      background-image: url('../../assets/laptop.svg');
    }
  }

  &-printer {
    &:before {
      background-image: url('../../assets/printer.svg');
    }
  }
}

.active {
  color: #42ff29;
  font-weight: 500;
}
